[submodule "mattpocock-skills"]
	path = vendors/mattpocock-skills
	url = https://github.com/mattpocock/skills.git
[submodule "superpowers"]
	path = vendors/superpowers
	url = https://github.com/obra/superpowers.git
[submodule "impeccable"]
	path = vendors/impeccable
	url = https://github.com/pbakaus/impeccable.git
